.orbit-search-container{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 50px;
}
@media( max-width: 768px ){
	.orbit-search-container{
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
}

.orbit-search-results .orbit-articles-db{
	list-style:none;
	padding-left:0;
}

.orbit-search-form form{
	box-shadow:1px 2px 3px #eee;
	background:#FFF;
	border-radius:3px;
	padding:20px;
	margin:0 0 20px;
	border:#EEE solid 1px;
}
	
.orbit-search-form input[type=text]{
	border:#ccc solid 1px;
	width:100%;
}
	
.orbit-search-form .twitter-typeahead{
	display:block !important;
}
	
	
.orbit-search-form .typeahead, .orbit-search-form .tt-query,.orbit-search-form .tt-hint {
	border: 2px solid #CCCCCC;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
}
	
.orbit-search-form .tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.orbit-search-form .tt-hint {
	color: #999 !important;	
}
.orbit-search-form .tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 100%;
}
.orbit-search-form .tt-suggestion {
	font-size: 18px;
	line-height: 18px;
	padding: 3px 10px;
}
.orbit-search-form .tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.orbit-search-form .tt-suggestion p {
	margin: 0;
}

.orbit-form-group{
	margin-bottom: 20px;
}


/* ORBIT TEMPLATES */
.orbit-list-db{
	list-style: none;	
	padding: 0;
}
.orbit-thumbnail-bg{
	background-color: #eee;
	min-height: 200px;
	background-size: cover;
	background-position: center;
	position: relative;
}
.orbit-thumbnail-bg a[href]{
	position: absolute;
	width: 100%;
	height: 100%;
}
.orbit-read-more{
	color: #ccc;
	margin-top: 20px;
	display: inline-block;
	border-bottom: #999 solid 1px;
}
.orbit-read-more:hover{
	text-decoration: none;
}
.orbit-three-grid, .orbit-jumbo-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.orbit-jumbo-grid .orbit-article-db, .orbit-three-grid .orbit-article-db{
	border: #eee solid 1px;	
}
.orbit-jumbo-grid .orbit-article-db{
	display: grid;
	grid-template-areas: "image" "content";
	grid-template-columns: 1fr 1fr;
}

.orbit-jumbo-grid{
	grid-template-columns: 1fr;
}

.orbit-list-scroll{
	white-space: nowrap;
	overflow: auto;
	overflow-y: auto;
}
.orbit-list-scroll li.orbit-article-db{
	width: 230px;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

li.orbit-article-db img{
	max-width: 100%;
	height: auto;
}

.orbit-list-scroll li.orbit-article-db:first-child{
	margin-left: 0;
}

.orbit-overlay{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 10px;
	white-space: normal;
	color: #fff;
}
.orbit-overlay-link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.orbit-post-content{
	padding: 20px;
}
.orbit-author{
	display: grid;
	grid-template-columns: 40px 1fr;
}


.orbit-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.orbit-list .orbit-article-db{
	display: grid;
	grid-template-areas: "image" "content";
	grid-template-columns: 200px 1fr;
	grid-gap: 20px;
	margin-bottom: 30px;
}
.orbit-list .orbit-post-content{ padding: 0px; }

.orbit-list .orbit-article-post{
	max-height: 100px;
	overflow: hidden;
}

.orbit-list .orbit-article-header{
	margin-bottom: 15px;
}

.orbit-list .orbit-article h3{
	margin: 0;
	font-weight: bold;
	line-height: 1;
	font-size: 1em;
	margin-top: -3px;
	
}
.orbit-list .orbit-article .small{
	font-size: 0.75em;
	line-height: 1.2em;
	
}

.orbit-list .orbit-article .post-excerpt{
	color: #999;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.orbit-list .orbit-thumbnail-bg{
	min-height: 100px;
}

@media( max-width: 768px ){
	.orbit-three-grid, .orbit-jumbo-grid .orbit-article-db{
		grid-template-columns: 1fr;	
	}
	.orbit-list .orbit-thumbnail-bg{
		min-height: 80px;
	}
	.orbit-list .orbit-article-db{
		grid-template-columns: 80px 1fr;
		grid-gap: 15px;
		margin-bottom: 20px;
	}
	.orbit-list .orbit-article-db .post-excerpt, .orbit-list .orbit-article-db .orbit-read-more{
		display: none;
	}
}